# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.jdks

# Env files with secrets (developers may use .env.dev locally, replace in CI with secure secrets)
.env.*